body, p, h1, h2, input, textarea {
  margin: 0;
  font-family: Roboto;
}

h2 {
  font-size: 32px;
}

/* navbar */
#navbar {
  background-color: black; /* red */
  color: #FFF;
  padding: 0 16px;
  height: 60px;
}

#navbar h2, #navbar ul, #navbar-list li,#navbar nav {
  display: inline-block;
}

#navbar h2 {
  margin: 0;
  line-height: 60px;
  margin-left: 70px;
}

#navbar img {
  height: 40px;
  transform: rotate(45deg);
  position: absolute;
  top: 8px;
}

#navbar nav {
  float: right;
}

#navbar ul {
  margin-top: 24px;
}

#navbar li {
  margin: 0 8px;
}

#navbar-list li a {
  text-decoration: none;
  color: #FFF;
}

#navbar-list li a:hover{
  border-bottom: 1px solid #fff;
}

/*  */
#main-banner{
  height: 72vh;
  background-image: url('img/bg-darkroad.png');
  background-size: cover;
  padding-top: 15vh;
}

#banner-info{
  width: 40%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color: #FFF;
  padding: 54px;
}

#banner-info img{
  height: 100px;
  border-radius: 50%;
  background-color: black;
  margin-top: 32px;
  margin-bottom: 32px;
}

#banner-info p{
  background-color: black;
  font-weight: bold;
  width: 200px;
  margin-right: auto;
  margin-left: auto;
  padding: 16px;
}

#about-section{
  text-align: center;
  background-color: black;
  color: white;
  padding-top: 56px;
  height: 350px;
}

#about-section h2{
  margin-bottom: 24px;
}

#about-section p{
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  line-height: 32px;
} 

#skills-section{
  margin-top: -122px;
  background-color: white;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ddd;
  border-radius: 10px;
}

#skills-section .container{
  display: flex;
  justify-content: center;
}

.skills-container{
  flex: 1 1 1;
  text-align: center;
  padding: 60px 25px;
}

.central{
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.skills-container h3{
  color: #ED1E24;
  font-size: 24px;
}

.skills-container img{
  height: 64px;
  padding: 16px;
  margin-bottom: 24px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 4px solid black;
  border-right: 4px solid black;
}

.skills-container .subtitle{
  font-weight: bold;
  color: #ED1E24;
  margin-top: 50px;
  margin-bottom: 15px;
}

.skills-container p{
  line-height: 25px;
}

#jobs-section{
  text-align: center;
  padding-top: 54px;
}

#jobs-section h2{
  color: #ED1E24;
  margin-bottom: 34px;
}

#jobs-section p {
  margin-bottom: 54px;
}

#jobs-section a{
  font-weight: bold;
  color: #ED1E24;
}

.job-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 54px;
}

.job-box{
  flex: 1 1 200px;
  margin-left: 24px;
  margin-right: 24px;
  height: 300px;
  background-size:cover;
  border-right: 2px solid #ED1E24;
  border-bottom: 2px solid #ED1E24;
}

.proj1{
  background-image: url('img/pro1.jpg');
}
.proj2{
  background-image: url('img/pro2.jpg');
}
.proj3{
  background-image: url('img/pro3.jpg');
}
.proj4{
  background-image: url('img/pro4.jpg');
}
.proj5{
  background-image: url('img/pro5.jpg');
}

footer{
  padding: 54px 0;
  background-color: black;
  color: white;
  text-align: center;
}

footer img{
  height: 54px;
  margin: 30px 0;
}

footer p {
  margin-top: 24px;
}

footer form{
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

footer input, footer textarea{
  border: none;
  padding: 15px;
  box-sizing: border-box;
  margin-bottom: 24px;
  width: 100%;
  display: block;
  border-radius: 10px;
}

footer .detail{
  font-weight: bold;
}